/* common css starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
span {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1920px;
  width: 75%;
  margin: 0 auto;
}
.display-flex {
  display: flex;
}
body {
  font-family: "Work Sans", sans-serif;
}
:root {
  --dark-01: #131313;
  --dark-02: #424242;
  --dark-03: #727272;
  --dark-04: #a1a1a1;
  --dark-05: #d0d0d0;
  --dark-06: #e7e7e7;
  --dark-07: #f3f3f3;
  --white-color: #fff;
}
.btn {
  width: 180px;
  height: 64px;
  background-color: #ff900e;
  font-weight: 600;
  font-size: 20px;
  color: var(--white-color);
  border-radius: 10px;
  border: none;
}
/* common css end */
/* navbar section start */
header {
  background: rgba(255, 144, 14, 0.1);
}
.navbar {
  justify-content: space-between;
  padding: 60px 0 100px;
  align-items: center;
}
.navbar h2 {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  color: var(--dark-01);
}
.nav-links li a {
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  text-align: center;
  color: var(--dark-02);
  margin-right: 40px;
}
/* navbar section end */
/* banner section start */

.banner-content {
  max-width: 862px;
  text-align: center;
  margin: 0 auto;
}
#banner .banner-content h1 {
  font-weight: 700;
  font-size: 64px;
  color: var(--dark-01);
}
#banner .banner-content p {
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-03);
  padding: 32px 0;
}

#banner img {
  width: 100%;
  padding: 50px 0 45px;
}
/* banner section end */
/* our features section start */
#our-features {
  display: flex;
  gap: 73px;
  align-items: center;
  padding: 85px 0 130px;
}
.our-features-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features-images img {
  max-width: 342px;
}
.our-features-content {
  max-width: 530px;
}
.our-features-content h3 {
  font-weight: 500;
  font-size: 45px;
  color: var(--dark-03);
}
.h3-1st-span {
  font-weight: 700;
  color: var(--dark-01);
}
.h3-2nd-span {
  font-weight: 700;
  color: #ff900e;
}
.our-features-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: var(--dark-03);
  padding: 24px 0 32px;
}
/* our features section end */
/* responsive */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  #our-features {
    flex-direction: column;
  }
  .nav-links {
    align-items: center;
  }
  .our-features-images {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .navbar,
  .nav-links,
  #our-features {
    flex-direction: column;
  }
  .nav-links {
    align-items: center;
    gap: 10px;
  }
  .our-features-content{
    text-align: center;
  }
}
/* responsive */
