/* common css starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
span {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1920px;
  width: 75%;
  margin: 0 auto;
}
.display-flex {
  display: flex;
}
body {
  font-family: "Work Sans", sans-serif;
}
:root {
  --dark-01: #131313;
  --dark-02: #424242;
  --dark-03: #727272;
  --dark-04: #a1a1a1;
  --dark-05: #d0d0d0;
  --dark-06: #e7e7e7;
  --dark-07: #f3f3f3;
  --white-color: #fff;
}
.btn {
  width: 180px;
  height: 64px;
  background-color: #ff900e;
  font-weight: 600;
  font-size: 20px;
  color: var(--white-color);
  border-radius: 10px;
  border: none;
}
/* common css end */
/* navbar section start */
header {
  background: rgba(255, 144, 14, 0.1);
}
.navbar {
  justify-content: space-between;
  padding: 60px 0 100px;
  align-items: center;
}
.navbar h2 {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  color: var(--dark-01);
}
.nav-links li a {
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  text-align: center;
  color: var(--dark-02);
  margin-right: 40px;
}
/* navbar section end */
/* banner section start */

.banner-content {
  max-width: 862px;
  text-align: center;
  margin: 0 auto;
}
#banner .banner-content h1 {
  font-weight: 700;
  font-size: 64px;
  color: var(--dark-01);
}
#banner .banner-content p {
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-03);
  padding: 32px 0;
}

#banner img {
  width: 100%;
  padding: 50px 0 45px;
}
/* banner section end */
/* our features section start */
#our-features {
  display: flex;
  gap: 73px;
  align-items: center;
  padding: 85px 0 130px;
}
.our-features-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features-images img {
  max-width: 342px;
}
.our-features-content {
  max-width: 530px;
}
.our-features-content h3 {
  font-weight: 500;
  font-size: 45px;
  color: var(--dark-03);
}
.h3-1st-span {
  font-weight: 700;
  color: var(--dark-01);
}
.h3-2nd-span {
  font-weight: 700;
  color: #ff900e;
}
.our-features-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: var(--dark-03);
  padding: 24px 0 32px;
}
/* our features section end */
/* love and enjoy section start */
#love-and-enjoy {
  gap: 140px;
}
.love-and-enjoy-content h3 {
  font-weight: 700;
  font-size: 45px;
  color: var(--dark-01);
}
.for-border {
  border-left: 5px solid #ff900e;
  padding-left: 21px;
}
.love-and-enjoy-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: var(--dark-03);
  padding: 14px 0 30px;
}
.love-and-enjoy-card {
  border-radius: 8px;
  width: 586px;
  height: 171px;
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  background: var(--white-color);
  margin-bottom: 20px;
}
.love-and-enjoy-card h4 {
  font-weight: 600;
  font-size: 20px;
  color: var(--dark-01);
}
.love-and-enjoy-card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: var(--dark-03);
}
.love-and-enjoy-image button {
  border-radius: 8px;
  width: 342px;
  height: 200px;
  background: #ff900e;
  border: none;
  margin:-77px 0 0 -92px;
}
.love-and-enjoy-image img{
  max-width: 100%;
}
.love-and-enjoy-image button span{
font-weight: 700;
font-size: 65px;
line-height: 108%;
text-align: center;
color: var(--white-color);
}
.love-and-enjoy-image button p{
  font-weight: 500;
font-size: 25px;
line-height: 160%;
color: var(--white-color);
}
/* love and enjoy section end */
/* facts section start */
#facts .facts-content h3 {
  font-weight: 700;
  font-size: 45px;
  color: var(--dark-01);
}
#facts .facts-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: var(--dark-03);
  padding-top: 24px;
}
.facts-content {
  max-width: 542px;
  margin-top: 130px;
}
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 100px 0 180px;
}
.fact-card {
  border: 1px solid #ff900e;
  border-radius: 8px;
  width: 241px;
  height: 241px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fact-card h4 {
  font-weight: 600;
  font-size: 45px;
  color: var(--dark-02);
  padding: 10px 0 5px;
}
.fact-card h5 {
  font-weight: 600;
  font-size: 20px;
  color: var(--dark-03);
}
/* facts section end */
/* Sponsors section start */
.sponsors-content {
  text-align: center;
}
.sponsors-content h3 {
  font-weight: 700;
  font-size: 45px;
  color: var(--dark-01);
}
.sponsors-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: var(--dark-03);
  padding: 24px 0 50px;
}
.sponsors-all-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  filter: grayscale(100%);
}
/* Sponsors section end */
/* footer section start */
footer {
  background-color: #fff4e7;
  border-radius: 8px;
  width: 1440px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  width: 75%;
  margin: 130px auto 216px;
}
footer p {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: var(--dark-02);
}
/* footer section end */
/* responsive */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  #our-features,
  #love-and-enjoy {
    flex-direction: column;
  }
  .nav-links {
    align-items: center;
  }
  .our-features-images,
  .facts-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
  .facts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .our-features-content {
    text-align: center;
  }
  .sponsors-all-images {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  #love-and-enjoy{
    gap: 50px;
  }
  
  
  .love-and-enjoy-image img{
    width: 100%;
    align-items: center;
  }
  .love-and-enjoy-image button{
    display: none;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .navbar,
  .nav-links,
  #our-features,#love-and-enjoy {
    flex-direction: column;
  }
  .nav-links {
    align-items: center;
    gap: 10px;
  }
  .our-features-content {
    text-align: center;
  }
   .love-and-enjoy-image button{
    display: none;
  }
  .love-and-enjoy-image img{
    align-items: center;
    width: 100%;
  }
  .facts-container {
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }
  .sponsors-all-images {
    grid-template-columns: repeat(2,1fr);
    gap: 64px;
  }
}
/* responsive */
