/* common css starts here */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,ol{
 list-style-type: none;
}
a{
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6,ul,ol,p,span{
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
}
.display-flex{
    display: flex;
}
body{
    font-family: "Work Sans", sans-serif;
}
:root {
	--dark-01: #131313;
	--dark-02: #424242;
	--dark-03: #727272;
	--dark-04: #a1a1a1;
	--dark-05: #d0d0d0;
	--dark-06: #e7e7e7;
	--dark-07: #f3f3f3;
	--white-color: #fff;
}
/* common css end */
/* navbar section start */
header{
    background: rgba(255, 144, 14, 0.1);
}
.navbar{
    justify-content: space-between;
    padding: 60px 0 100px;
    align-items: center;

}
.navbar h2{
font-weight: 700;
font-size: 3rem;
text-align: center;
color: var(--dark-01);
}
.nav-links li a{
font-weight: 500;
font-size: 18px;
line-height: 144%;
text-align: center;
color: var(--dark-02);
margin-right: 40px;
}
/* navbar section end */